<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.android.doguinhoHero">
    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doguinhohero">
        <activity android:name="br.ufpe.cin.android.doguinhoHero.CriarPasseioActivity"></activity>
        <activity android:name="br.ufpe.cin.android.doguinhoHero.CadastroCartaoDeCreditoActivity" />
        <activity android:name="br.ufpe.cin.android.doguinhoHero.CadastroContaBancariaActivity" />
        <activity android:name="br.ufpe.cin.android.doguinhoHero.CadastroPetActivity" />
        <activity android:name="br.ufpe.cin.android.doguinhoHero.CadastroUsuarioActivity" />
        <activity android:name="br.ufpe.cin.android.doguinhoHero.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>